form.defaultForm label {
	display:block;
	width:7.0em;
	float:left;
	text-align:right;
	margin-right:10px;
	white-space: nowrap;
}

#messageBox {
	font-size: 1.2em;
	vertical-align: middle;
	margin: 5px 0px 5px 0px;
	padding: 10px;
	text-align: center;
}